html, body {
    background: #4F4F4F;
    padding:0px;
    margin:0px;
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    overflow:auto;
}
p,h1{
    margin:0px;
    padding:0px;
}
.navtext{
    font-size: 30px;
    margin: 5px 15px;
}
.text {
    font-family: "Roboto";
    color: #E0E0E0;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}
.navbar {
    width: 100%;
    height: 50px;
    background: #333333;
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.rightnav {
    width: 100%;
    height:50px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
.hover{
    display:block;
    width:100%;
    height:3px;
    background:white;
    opacity:0;
    transition: opacity 0.15s ease-in-out;
}
.active{
    display:block;
    opacity:1 !important;
}
.listitem{
    cursor: pointer;
}
.listitem:hover .hover{
    opacity: 1;
}
.icon {
    position:absolute;
    top:13px;
    left:8px;
    width:24px;
    height:24px;
    border-radius: 12px;
    display:inline-block;
    background-image: url(https://crxb.tk/nkt2h2.png)
}
.picture{
    width:256px;
    height:256px;
    border-radius:128px;
}
.page{
    position:absolute;
    width:100%;
    margin:0px;
    padding:0px;
    padding-top:35px;
    top:50px;
    opacity:0;
    transition: opacity 0.25s ease-in-out;
}
.pagecontent {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
    overflow:auto;
    margin:0px;
    padding:0px;
    top:50px;
    left:0px;
    height:calc(100% - 150px);
    width: 100%;
}
.mobilepage{
    padding-top:20px;
    height:calc(100% - 70px);
}
.textcontent{
    margin-left:30px;
}
.header{
    order:0;
    font-size:65px;
    font-weight: bold;
}
.subheader{
    font-size:35px;
    font-weight: bold;
}
.midheader{
    letter-spacing: 3px;
    font-weight: bold;
}
.description{
    font-size:30px;
}
.inputbox{
  width:250px;
  height:30px;
  top:7.5px;
  padding-left: 8px;
  padding-right:8px;
  background: #333333;
  border:none;
  outline:none;
  font-size:15px;
  border-radius: 10px;
  color:#fff;
}
.nestedinput{
    background:transparent;
    color:#fff;
    border:none;
    resize:none;
    position:relative;
    width:100%;
    height:100%;
    padding:0px;
    font-size:18px;
}
.searchbox{
    background:#4f4f4f;
    position: relative;
    top:7.5px;
}
.footer{
    position:fixed;
    bottom:0px;
    height:100px;
    width:100%;
    background:#333;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
a:link{
    color:#ccc;
}
a:visited{
    color:#aaa;
}
a:active{
    color:#eee;
}
.pageinput{
    margin-left:60px;
    margin-right:60px;
    margin-top:10px;
    margin-bottom:10px;
    
}
.addinput{
    width:350px;
    height:40px;
    margin-left:0px;
    margin-right:0px;
    font-size:18px;
}
.submit{
    width:366px;
    margin-bottom:0px;
}
.addleftdiv{
    position:relative;
    width:350px;
    height:100%;
}
.body{
    margin:0px;
    padding:8px;
    height:582px;
    width:350px;
}
.errors{
    color:#c00;
    position:absolute;
    top:58px;
    left:8px;
}
.wrapper{
    height:100%;
    margin:0px;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
    overflow:auto;
}
.inputwrapper{
    margin:0px;
    padding:0px;
}
.botid{
    margin-top:0px;
}
.addsep{
    width:50px !important;
    height:16px !important;
}
@media screen and (max-width:800px) {
    .wrapper {
        flex-flow: column nowrap !important;
    }
}
.cardrow{
    min-height:301px !important;
    max-height:301px !important;
    width:100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-content: space-between;
}
.botcard{
    position:relative;
    width:285px;
    height:260px;
    border-radius: 10px;
    margin:8px;
    padding:8px;
    background: #333333;
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    align-items:flex-start;
    align-content: flex-start;
}
.indexcontent{
    display:block;
}
.indexheader{
    margin:auto;
    width:625px;
    margin-top:50px;
    margin-bottom:25px;
}
.cardimg{
    margin-left:8px;
    margin-top:8px;
    width:64px;
    height:64px;
    margin-bottom:3px;
    border-radius:32px;
}
.cardheader{
    max-height:35px;
    margin-bottom:0px;
    cursor: pointer;
    text-overflow: ellipsis;
    width:193px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 35px;
}
.cardheader:hover{
    text-decoration: underline
}
.cardauthor{
    margin-left:14px;
    color:#BBB;
    cursor: pointer;
}
.cardauthor:hover{
    text-decoration: underline
}
.cardstats{
    margin-left:14px;
    color:#BBB;
    margin-bottom:0px;
}
.cardbotinfo{
    margin-left:16px;
    margin-top:8px;
    width:68%;
}
.carddesc{
    margin-left:8px;
    margin-top:8px;
    margin-right:8px;
    font-size: 20px;
    max-height:115px;
    max-width:268px;
    overflow:hidden;
    text-overflow: ellipsis;
    word-wrap:break-word;
}
.cardbuttons{
    position:absolute;
    width:269px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left:8px;
    padding-right:8px;
    margin-top:12px;
    bottom:12px;
    align-content: center;
}
.cardbutton{
    width:130px;
    height:40px;
    background-color:#666;
    font-size: 25px;
    cursor: pointer;
}
.cardbutton:hover{
    text-decoration: underline;
}
.cardbotstatus{
    position: absolute;
    display:block;
    margin-left:52px;
    margin-top:52px;
    width:16px;
    height:16px;
    background-color:#43B581;
    border: 4px solid #333;
    border-radius: 16px;
}
.noflex{
    display:block;
}
.botheader{
    margin-left:64px;
    margin-top:64px;
    display:flex;
    flex-flow: row wrap;
    height:200px;
    width:max-content;
}
.botname{
    margin-top:15px;
    margin-left:16px;
}
.botimg{
    width:200px;
    height:200px;
    border-radius:100px;
}
.textdiv{
    display:flex;
    flex-flow:column nowrap;
}
.statdiv{
    display:inherit;
    flex-flow:row nowrap;
    margin-left:8px;
}
.statbox{
    width:max-content;
    height:30px;
    top:7.5px;
    background: #333333;
    border:none;
    outline:none;
    border-radius: 10px;
    color:#fff;
    font-size:18px;
}
.authorname{
    font-size:23px;
    margin-top:0px;
    margin-left:40px;
    margin-bottom:4px;
    color:#999
}
.buttondiv{
    margin-top:2px;
}
.statbutton{
    color:#aaa;
    margin-right:6px;
    margin-bottom:2px;
}
.button{
    cursor:pointer;
}
.button:hover{
    color:#ccc;
}
.status{
    background-color:#43B581;
    color:#333;
}
.invite{
    background-color: #33b5e5;
    color:#eee;
}
.botwebsite{
    background-color: #ffbb33;
    color:#eee;
}
.botsupport{
    background-color:#ff4444;
    color:#eee;
}
.botgit{
    background-color:#00C851;
    color:#eee;
}
.edit{
    background-color:#FF8800;
    color:#eee;
    display:none;
}
.report{
    background-color: #ffbb33;
    color:#333;
    display:none;
}
.delete{
    background-color: #CC0000;
    color:#333;
    display:none;
}
.verify{
    background-color:#007E33;
    color:#eee;
    display:none;
}
.botbody{
    position:relative;
    top:20px;
    margin-left:auto;
    margin-right:auto;
    min-height:400px;
    min-width:1400px;
    max-height:600px;
    font-size:18px;
    padding:10px;
    overflow:auto;
    color:#ddd;
    height:max-content;
    margin-bottom:32px;
}
#editbutton{
    width:268px;
}
#results{
    text-align:center;
}
.searchbutton{
    width:78px;
    height:25px;
    font-size: 15px;
    cursor: pointer;
    margin-left:4px;
}
.pagebox{
    width:30px;
    height:25px;
    font-size: 15px;
    cursor: pointer;
    text-align:center;
}
#gobtn{
    width:40px;
}
#pagesdiv{
    width:260px;
    margin:auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
}
.searchcontent{
    display:block;
    padding-top:35px;
    padding-bottom:10px;
    height:calc(100% - 195px);
}
.errorcontent {
    padding-top:20px;
    flex-flow: column wrap;
    justify-content: flex-start
}
.apicontent {
    padding-top:20px;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}
.apiheader{
    width:100%;
    text-align: center
}
.apiindex{
    position:fixed;
    top: 70px;
    left:15px;
    text-align: left
}
.flexbreak{
    width:100%;
}